/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--background-color);
}

.home-layout {
  display: flex;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* optional, hides page scroll */
}

